
/* Dark mode colors. */
:root {
    --sl-color-accent-low: #430922;
    --sl-color-accent: #c00065;
    --sl-color-accent-high: #fbfbfb;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #eceef2;
    --sl-color-gray-2: #c0c2c7;
    --sl-color-gray-3: #888b96;
    --sl-color-gray-4: #545861;
    --sl-color-gray-5: #353841;
    --sl-color-gray-6: #0f0f0f;
    --sl-color-black: #0f0f0f;
    --sl-text-h1: 18px;
    --sl-text-h2: 16px;
    --sl-text-h3: 15px;
    --sl-text-h4: 15px;
}

p {
    font-size: 12px;
}

li {
    font-size: 11px;
}

span.link-title {
    font-size: 13px;
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #fec5d5;
	--sl-color-accent: #c30067;
	--sl-color-accent-high: #600030;
	--sl-color-white: #17181c;
	--sl-color-gray-1: #24272f;
	--sl-color-gray-2: #353841;
	--sl-color-gray-3: #545861;
	--sl-color-gray-4: #888b96;
	--sl-color-gray-5: #c0c2c7;
	--sl-color-gray-6: #eceef2;
	--sl-color-gray-7: #f5f6f8;
	--sl-color-black: #ffffff;
}